extends ../layout

block content
	h1.
		#{title}
	form#formAddBlob(name="addblob",method="post",action="/blobs")
		p Name: 
			input#inputName(type="text", placeholder="ex. Anything", name="name")
		p Date:
			input#inputDate(type="date", placeholder="ex. 1979-12-31", name="date")
		div.input
			span.label Data
			textarea(name="data", cols="40", rows="5")
		div.actions
			input(type="submit", value="add")