body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
div {
    white-space: pre-wrap;
    padding-left: 5px;
}
#actionbuttons{
	display: -webkit-box;
}